# Assignment #7 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Thinh Le
</br>
Date: April 05, 2025
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy/SQlConnector on our local server and locally on our machine.
<br>

Now we will populate and create **all** tables for our dataset into our database and finalize our ERR diagram.<br>

We created a database three different ways in our previous assignment; One database on our local MySQL server, one test database stored locally that integrates with MySQL and one test database stored only locally as a .db file on your machine. Now we will create all tables and populate your tables with your data from your dataset (Feel free to practice with all methods, but it is encouraged to use the first method that will allow you to create your schema diagram). After populating your database, create a visual database schema diagram in MySQL Workbench. <br>
<br>
Be sure to comment all code. Include a .png image of your database schema from MySQL Workbench in your Blackboard submission or Github repository.

## Load libraries

In [2]:
# Load necessary packages:
# For database server connection
from sqlalchemy import create_engine, text
import mysql.connector
# For ata manipulation
import pandas as pd

## Connect to MySQL server

In [5]:
# Connect to the MySQL server
host = '127.0.0.1'
port = 3306
user = 'root'
password = '123456'

mysql_connection = mysql.connector.connect(
    # Server address
    host=host,
    # Port number
    port=port,
    # Username
    user=user,
    # Password
    password=password)

## Create database

In [6]:
# Create a cursor - an object that can execute operations such as SQL statement
cursor = mysql_connection.cursor()

database_name = "thinh_db"
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
# MySQL_SpotifyDatabase will be the name when the database is created.

cursor.close()
mysql_connection.close()

print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

## Create engine

In [8]:
database_url = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database_name}"

# Create an engine that connect to MySQL server
engine = create_engine(database_url)

print("Engine created successfully!")

Engine created successfully!

## Read dataset

In [9]:
df = pd.read_csv('laptop_prices.csv')

View dataset info

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11768 entries, 0 to 11767
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               11768 non-null  object
 1   processor           11768 non-null  object
 2   ram_gb              11768 non-null  float64
 3   storage             11768 non-null  object
 4   gpu                 11768 non-null  object
 5   screen_size_inch    11768 non-null  float64
 6   resolution          11768 non-null  object
 7   battery_life_hours  11768 non-null  float64
 8   weight_kg           11768 non-null  float64
 9   operating_system    11768 non-null  object
 10  price               11768 non-null  float64
dtypes: float64(5), object(6)
memory usage: 1011.4+ KB

## Create table in database

In [12]:
# Create query to creat table
table_name = "laptop_prices"
first_table_query = f"""CREATE TABLE IF NOT EXISTS {table_name} (
    id MEDIUMINT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    brand VARCHAR(20),
    processor VARCHAR(20),
    ram_gb TINYINT,
    storage VARCHAR(20),
    gpu VARCHAR(20),
    screen_size_inch FLOAT,
    resolution VARCHAR(20),
    battery_life_hours FLOAT,
    weight_kg FLOAT,
    operating_system VARCHAR(20),
    price FLOAT
)"""

# Execute query
with engine.connect() as connection:
    connection.execute(text(first_table_query))

print(f"Table {table_name} created successfully!")

Table laptop_prices created successfully!

## Insert data to table

In [13]:
# Loop through each row in the dataset and create query to insert data into table
with engine.connect() as connection:
    # Iterate through DataFrame rows
    for index, row in df.iterrows():
        # Construct and execute INSERT statement
        query = f"""INSERT INTO {table_name} (
                        brand, processor, ram_gb,
                        storage, gpu, screen_size_inch,
                        resolution, battery_life_hours, weight_kg,
                        operating_system, price
                    ) VALUES (
                        '{row['brand']}',
                        '{row['processor']}',
                        '{row['ram_gb']}',
                        '{row['storage']}',
                        '{row['gpu']}',
                        '{row['screen_size_inch']}',
                        '{row['resolution']}',
                        '{row['battery_life_hours']}',
                        '{row['weight_kg']}',
                        '{row['operating_system']}',
                        '{row['price']}'
                    )"""
        connection.execute(text(query))

    connection.commit()

Result:

![Alt text](data-insert-result.png)

## Get database schema

![Table diagram](table-diagram.png)

In [14]:
#Close the database connection :)
connection.close()
engine.dispose()

**MySQL Workbench**<br>
To export your database schema as a .PNG:<br>
->Go to your EER Diagram<br>
->File<br>
->Export<br>
->Export as .PNG