# Assignment #4 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name:
</br>
Date:
<br>
<br>
<b>Only Murders in the...Database?</b><br>
An introduction to navigating databases using SQL, Python and Jupyter Notebook. <br>
<br>
A crime has taken place and you are the perfect amateur detective to solve it! 
<br>
The detective gave you the crime scene report, but you somehow lost it...? You vaguely remember that the crime
was a murder that occurred sometime on <b>Jan.15, 2018</b> and that it took place in <b>SQL
City</b>. All the clues to this mystery are buried in a huge database, and you need to use
SQL to navigate through this network of information. Your first step to solving the mystery is to retrieve the corresponding crime scene report from the police departmentâ€™s database. Take a look at the cheatsheet to learn how to do this! From there, you can use your SQL skills to find the murderer.<br>

Your task for <b>Assignment #4</b> is to:<br>
- Connect to the database stored locally using Python.
- Explore the database by listing all tables, fields within the tables, and data types.
- Find out who the murderer is!<br>
- Add detailed comments to explain EVERY query or SQL command you use while we are still learning and practicing. I have my steps outlined, but please add more cells inbetween for additional queries! There is no limit on the number of queries you can use. <br>
- For each query include comments such as "SELECT all records FROM table WHERE column name = X"<br>
- Answer any prompts in markdown cells.<br>
<br>

This fabulous database was created by @NUKnightLab on Github and can be found here: https://github.com/NUKnightLab/sql-mysteries

Database files are indicated by the .db file extension. For this exercise, our database has already been created. To avoid setting your working directory, have the .db file and Assignment#4_LastName.ipynb in the same file location. There are multiple libraries that can be used to navigate database files and connect to SQL for databases that are stored on a server or your computer as a local host.

In [ ]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

Database files are indicated by the .db file extension. For this exercise, our database has already been created. To avoid setting your working directory, have the .db file and Assignment#4_LastName.ipynb in the same file location. There are multiple libraries depending on your platform that can be used to navigate database files and connect to SQL for databases that are stored on a server or your computer as a local host.

In [ ]:
# How to connect to our .db file using library SQLAlchemy
# Notice that we are not specifiying a host, password, or server since this .db file is stored locally.
db_path = " "  # Change this to your actual file name
engine = create_engine(f"sqlite:///{db_path}") # Use the create_engine function to connect to the database
engine # The f is the connection string, so if we print it we can see below

SQLAlchemy needs to know what kind of database we are accessing. .db files can be treated as a SQLite database. Other options include databases formatted for MySQL, PostgreSQL, etc. Database type prefixes must be included.

In [ ]:
# Explore the database
# List the tables in our database:












# So much data! How would we possibly make sense of ANY of this without SQL? :)

In [ ]:
# What are the column names for each table? What table will help us get to the next clue?

Practice using commmands useful in queries:

In [ ]:
# Example: 
# Select all records from the table crime_scene_report where type is murder:

with engine.connect() as connection:  # Establish a connection
    query = text("""SELECT * 
                    FROM crime_scene_report 
                    WHERE type='murder'
                    """)                      # Define the query - text() ensures that the query string is read as a SQL expression 
    practice = pd.read_sql(query, connection) #Use pandas to read the sql query with the connection to the database
    
# Print the results
practice

In [ ]:
#Select all records from the table drivers_license where the eye color is blue:





practice2

In [ ]:
#Select distinct records of eye_color from the table drivers_license:







practice3

In [ ]:
#Select distinct records of name from the table person:







practice4

In [ ]:
#Select distinct records of gender AND car_model from the table drivers_license:







practice5

In [ ]:
#Select distinct records of type and city from the table crime_scene_report:






practice6

In [ ]:
#Select all records from table drivers_license where the age is == 40:






practice7

In [ ]:
#Select all records from table drivers_license where the age is greater than 21:






practice8

In [ ]:
#Select all records from table drivers_license where the age is less than OR equal to 21:
#Do you see a difference in the number of rows?





practice8

In [ ]:
#Select all records from table get_fit_now_check_in and order by check_in_date:
#Do you see a difference in the number of rows?






practice9

In [ ]:
#Select all records from table get_fit_now_check_in and order by check_in_date and order by check_in_time:
#Do you see a difference in the order of the rows?





practice10

Now that we have practiced, let's solve this murder!

All we know at the start of our investigation is the <b>murder</b> occurred on <b>Jan.15, 2018</b> and that it took place in <b>SQL City<b>.

In [ ]:
#Write a query in SQL to view the crime scene report 
#for the murder occurred on Jan.15, 2018 and that it took place in SQL City.
#Select ALL records FROM the table WHERE...

Another clue! It looks like we have two witnesses! Now who are they and how do we find them?

In [ ]:
#Write two queries in SQL to find each witness in the person table. 
#For the first query as first_witness, select all the records from person where the address_street_name is Northwestern Drive and order by adress_number
#Fetch the first_witness

We have identified our first witness as ________________. Now lets find the second!

In [ ]:
#For the third query as second_witness,
#Select all the records from person where the address_street_name is Frnaklin Ave and the name includes Annabel. 
#Fetch the second_witness

We have identified our second witness as _________. What were their witness statements? What did they see?

In [ ]:
#For our fourth query, witness_statements, lets find out what each witness saw...or claim they saw?
#Select the peron's name and interview where the person_id is X, X (Get the ID from the above queries)

A few new clues! Explore the different clues with multiple queries. Seems like a reliable statement!

In [ ]:
#Create a query to select for the following clues: (You can create multiple queries or combine them into one and go from there.)
#Remember to write our your query in the comments!

We have a suspect! Lets check their witness statement. Do they have an alibi?

In [ ]:
#Remember to write your query in the comments!

Uh oh...turns out it wasn't just one person behind the crime...who is this additional person involved?

In [ ]:
#Remember to write our your query in the comments!
#You can complete this in a single query or multiple queries.

Three different people match this description! Now which one attended the SQL Symphony Concert three times?

In [ ]:
#Let's find the killer!
#Remember to write our your query in the comments!

<b>The murderer(s) is/are:</b>

In [ ]:
#Disconnect from the database. Always remember to disconnect :)